# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data and model artifacts
*.pkl
*.h5
*.csv
*.xlsx
models/

# Streamlit cache
.streamlit/

# Python virtual environments
venv/
.env/
ENV/
